*.sketch
*.fig
*.xd
.DS_Store
.prettierignore
node_modules/
.env
autostart
caja
cinnamon
cinnamon-session
Code
dconf
evolution
go
goa-1.0
gtk-3.0
libreoffice
menus
nemo
parcellite
pulse
user-dirs.dirs
user-dirs.locale
X-Cinnamon-xdg-terminals.list
xdg-terminals.list